.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/last-sync.json
*.sync-conflict-*
Thumbs.db
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
**/cursor-positions.json
**/data.json
**/workspace.json

quartz/util/emojimap.json
